.box{
    border: 3px solid;
    padding: 25px;
}

/* body{
    background-image: url('./assets/pobrane.jpg');
     background-size: cover; 
  background-position: center;
  height: 700px; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin: 0px;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
    
}
.timer-container{
    width: 100vw;
    padding: 10px 0;

}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    color: white;
} clock*/