.counter-container{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.count-display{
    margin: 20px;
}
.counter-button{
    width: 100px;
    margin-right: 10px;
    background-color: aqua;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.counter-button:hover{
    background-color: aquamarine;
}